# فایل‌ محیط (حساس و توکن)
.env

# دیتابیس محلی یا فایل ذخیره ویدیو
videos.json

# پوشه‌های کش پایتون
__pycache__/
*.pyc
*.pyo

# لاگ‌ها
*.log

# محیط مجازی (اگه استفاده کردی)
venv/
.env/

# تنظیمات IDE
.vscode/
.idea/

# فایل‌های سیستم عامل
.DS_Store
Thumbs.db
